<nz-layout class="layout">
  <nz-header>
    <div class="logo">
        <img src="../assets/logo.png"  alt="logo da aplicacao, três pilares com um losango por volta  "/>
    </div>
  </nz-header>
  <nz-content>
    <div class="inner-content">

        
        <router-outlet></router-outlet>
    </div>
  </nz-content>
  <nz-footer>Feito por <a target="_blank" href="https://www.linkedin.com/in/washington-junio-bsb/">Washington</a>,  Implementado com Angular e Ant Design ©2023 ❤️  </nz-footer>
</nz-layout>
