.header-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;

  @media (max-width: 1022px) {
    min-width: 49vh;
  }
  @media (max-width: 900px) {
  display: flex;
  flex-direction: column;
  gap: 30px;
  
  }
}

.header-title-main {
  line-height: 10px;

  h2 {
    font-size: 36px;
  }

  span {
    color: #cecece;
  }
}

.header-autocomplete-main {
  width: 300px;
}

.header-subtitle-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0;

  @media (max-width: 1022px) {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 40px 0;
    flex-direction: column;
    align-items: flex-start;
  }

  @media (max-width: 900px) {
    align-items: center;
    
    }
  // border-bottom: 2px solid #e0e3eb;
}

.header-subtitle {
  display: flex;
  align-items: baseline;

  h2 {
    font-size: 36px;
  }

  p {
    font-size: 12px;
    font-weight: 700;
    margin: 0 5px 0 2px;
  }

  span {
    font-size: 18px;
  }
}

.header-subtitle-values-previus {
  display: flex;
  gap: 50px;
  line-height: 7px;

  p {
    font-size: 18px;
  }

  p:nth-child(2){
    font-size: 11px;
  }

 section{
  display: flex;
  gap: 5px;
  align-items: baseline;
 }

  span {
    letter-spacing: 0.4px;
    color: #cecece;
    font-size: 11px;
  }

  @media (max-width: 700px) {
  
    
    flex-direction: column;
      width: 100%;
      padding: 0 20px;

    }

}

.colorGreen {
  color: #089981;
}

.colorRed {
  color: red;
}

.apexcharts-tooltip {
  background: #f3f3f3;
  color: orange;
}

.customTooltip{
background-color: red !important;
color: red !important;
margin: 33px !important;
}


